* {margin: 0 auto; padding: 0; font-family: "나눔 고딕"; list-style: none;}

.clear {clear: both; position: inherit}

#header {width: 1200px; height: 100px;}
.logo {float: left;}
.logo a img {width: 200px; height: 100px;}
nav{float:right}
.nav {margin-top: 50px;}
.nav li{float:left; width: 200px; text-align: center; padding: 5px 0; position: relative;}
.nav li:hover {background-color: brown; color: white;}
.nav li a {color: inherit; text-decoration: none;}
.submenu {display: none; position: absolute; z-index: 1; width: 100%;}
.submenu li {transition: all 0.4s; background-color: rgba(255, 255, 255, 0.8); padding: 10px 0; color: black}
.submenu li:hover{color:white;}

#imgslide{height: 300px; width: 1200px;}
.imgs{position: relative; overflow: hidden; height: 100%; width: 1200px; background-color: brown;}
.imgs>img{width: 100%; transition: all 3s; position: absolute;}
.welcome {position: absolute; margin: -50px 0 0 -100px !important; top: 50%; left: 50%; background-color: bisque; border-radius: 10px; padding: 20px;}

#content{width: 1200px; height: 200px; overflow: hidden; }
.notice{ width: 400px; margin-top: 20px; float: left; height: 100%;}
.notice h2 {text-align: center;}
.table {margin-top: 20px;}
.notice tr td {font-size: 0.8em; line-height: 20px; margin-top: 20px;}
.notice tr:nth-child(1){cursor: pointer;}
.galary{ width: 400px; text-align: center; margin-top: 20px; float: left; height: 100%;}
.galaryImg{width: 100%; text-align: center; padding-left: 20px; padding-top: 20px;}
.galary img {float: left; width: 100px; margin-left: 20px;}
.banner{ width: 400px; text-align: center; margin-top: 20px; float: left; height: 100%;}
.modal{ position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; text-align: center; padding-top: 200px; background-color: rgba(255, 255, 255, 0.8);}
.modal button {margin-top: 20px; width: 150px; line-height: 75px; font-size: 3em; border: none; color: white; cursor: pointer; border-radius: 10px; background-color: brown;}
.modal.active {display: block;}